@model IEnumerable<RW.Leagues.FrontEnd.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(m => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(m => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(m => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(m => item.Country.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
